<div class="container">
  <div class="row justify-content-between align-items-center no-gutters">
    <h1 class="col-10">
      Test Cases
    </h1>
    <div class="col-2 text-right">
      <a class="btn btn-success" routerLink="/test-cases/new" title="New Test Case">+ New</a>
    </div>
  </div>
  <div class="alert alert-primary text-center" *ngIf="isLoading">
    Loading...
  </div>
  <div class="alert alert-info" *ngIf="!isLoading && testCases && testCases.length === 0">
    No Test Cases yet. Go ahead and create some!
  </div>
  <table class="table table-hover" *ngIf="!isLoading && testCases && testCases.length > 0">
    <tbody>
    <tr *ngFor="let testCase of testCases">
      <td class="hover-controls">
        <div class="row no-gutters align-items-center">
          <div class="col-10">
            <div class="title">
              <small class="badge badge-pill badge-secondary">{{testCase.id}}</small>
              <a routerLink="/test-cases/{{testCase.id}}">{{testCase.title}}</a>
            </div>
            <small class="description">{{testCase.description}}</small>
          </div>
          <div class="col-2 text-right">
            <div class="btn-group btn-group-sm controls">
              <button class="btn btn-danger" title="Delete the Test Case">Del</button>
              <a routerLink="/test-cases/{{testCase.id}}" class="btn btn-info" title="Edit the Test Case">Edit</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="alert alert-danger" *ngIf="!isLoading && !testCases">
    Error loading Test Cases :-(
  </div>
</div>
