@import "../../shared/top-level-container.styles";

:host {
  display: block;
}

.container {
  @extend .top-level-container;
}

h1 .badge {
  margin-right: .5em;
  font-size: 50%;
  transform: translateY(-.125em);
}

.description {
  margin: 1rem 0;
}
