<div class="container">
  <div class="alert alert-primary text-center" *ngIf="isLoading">
    Loading...
  </div>
  <ng-container *ngIf="!isLoading && testCase">
    <div class="row no-gutters align-items-center">
      <div class="col-10">
        <h1>
          <span class="badge badge-pill badge-secondary">{{id}}</span>{{testCase.title}}
        </h1>
      </div>
      <div class="col-2 text-right">
        <div class="btn-group btn-group-sm controls">
          <button class="btn btn-secondary" title="Go back" (click)="goBack();">&larr;</button>
          <button class="btn btn-danger" title="Delete the Test Case" (click)="deleteTestCase();">&times;</button>
          <a routerLink="/test-cases/edit/{{testCase.id}}" class="btn btn-info" title="Edit the Test Case">&hellip;</a>
          <a routerLink="/test-cases/edit/new" class="btn btn-success" title="New Test Case">+</a>
        </div>
      </div>
    </div>
    <div class="description" [innerHTML]="testCase.description"></div>
    <tm-attachments [testCaseId]="testCase.id"></tm-attachments>
  </ng-container>
  <div class="alert alert-danger" *ngIf="!isLoading && !testCase">
    Error loading Test Case {{id}} :-(
  </div>
</div>
