<div class="card hover-controls">
  <a href="{{url}}" target="_blank" class="card-img-top" [style.background-image]="bgImage"></a>

  <!--<div class="card-body">-->
    <!--<small class="name" title="{{attachment}}">{{attachment}}</small>-->
  <!--</div>-->

  <div class="card-footer text-muted">
    <div class="row no-gutters align-items-center">
      <div class="col-8">
        <small class="date">{{attachment}}</small>
        <input type="text" class="hidden-name-input" tabindex="-1" disabled [value]="attachment"/>
      </div>
      <div class="col-4 text-right">
        <div class="btn-group btn-group-sm controls">
          <button class="btn btn-danger" title="Delete the Attachment" (click)="deleteAttachment();" *ngIf="mode === 'edit'">&times;</button>
          <button class="btn btn-info" title="Copy the URL" (click)="copyAttachmentUrl();">&lt;/&gt;</button>
        </div>
      </div>
    </div>
  </div>
</div>
