.card {
  margin-bottom: 2rem;
}

a.card-img-top {
  display: inline-block;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;

  background-size: contain;
  background: url("/assets/gfx/attachment.svg") center center no-repeat;
}

.name, .date {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-body {

}
input.hidden-name-input {
  display: block;
  font-size: 1px;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
