<header class="bg-dark text-light">
  <div class="container">
    <nav class="navbar navbar-expand navbar-dark no-padding">
      <a class="navbar-brand" routerLink="/">
        <img class="logo" src="/assets/gfx/logo.svg" alt="TestMaster &copy; 2018">
      </a>

      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/test-cases">Test cases</a>
        <a class="nav-item nav-link" routerLink="/test-suites">Test suites</a>
        <a class="nav-item nav-link" routerLink="/test-plans">Test plans</a>
        <a class="nav-item nav-link" routerLink="/regression-cycles">Regression cycles</a>
      </div>
    </nav>
  </div>
</header>
