@import "../header/header-footer.styles";

footer {
  @extend .header-footer-stripe;
  margin-top: 2rem;

  .container {
    @extend .top-level-container;
    font-size: .75rem;

    .logo {
      width: 2em;
      height: 2em;
      margin-right: 1em;
    }
  }
}
