@import "header-footer.styles";
@import "../../../shared.styles";

header {
  @extend .header-footer-stripe;
  margin-bottom: 2rem;

  .container {
    @extend .header-footer-container;

    .logo {
      width: 3rem;
      height: 3rem;
    }
  }
}
