@import "../../../shared.styles";

.header-footer-stripe {
  padding: 2rem 0;
}

.header-footer-container {
  @extend .no-padding;

  min-width: 30rem;
  width: 80%;
  max-width: 60rem;
  margin: 0 auto;
}
