@import "../shared/top-level-container.styles";
@import "../../../shared.styles";

header {
  margin-bottom: 2rem;
  padding: 2rem 0;

  .container {
    @extend .top-level-container;

    .logo {
      width: 3rem;
      height: 3rem;
    }
  }
}
