<header class="bg-dark text-light">
  <div class="container">
    <nav class="navbar navbar-expand navbar-dark no-padding">
      <a class="navbar-brand" href="/">
        <img class="logo" src="/assets/gfx/logo.svg" alt="TestMaster &copy; 2018">
      </a>

      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/test-cases">Test cases<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/test-suites">Test suites</a>
        <a class="nav-item nav-link" href="/test-plans">Test plans</a>
        <a class="nav-item nav-link" href="/regression-cycles">Regression cycles</a>
      </div>
    </nav>
  </div>
</header>
