@import "../../shared/top-level-container.styles";

:host {
  display: block;
}

.container {
  @extend .top-level-container;
}

.title, .description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2 * 1.5em; // = 2 * line-height
}

.description {
  display: block;
}

.badge {
  margin-right: .5rem;
}
