@import "../shared/top-level-container.styles";

:host {
  display: block;
}

.container {
  @extend .top-level-container;

  .btn-group {
    margin-top: 2rem;
  }

  .smile {
    font-size: 10rem;
    line-height: 1em;
    opacity: .1;
    cursor: default;
  }
}
